<div class="article print-design">
  <div class="welcome">
    <h2>Portfolio of works by Luna Red</h2>
  </div>

  <div>
    <h3>E-Learning Module Designs</h3>
    <p>These are the starting cover templates for E-learning modules.  The modules were used to educate phone technicians in
      technology troubleshooting as well as how to de-escalate and manage customers on the phone.  These designs were my first
      ever designs in Photoshop.  Just imagine these with titles and then the frames used throughout the modules.</p><hr />
    <div class="category">

      <img src="./assets/e-modules/image1.jpg" (click)="showGalleryEmodules(0)">
      <img src="./assets/e-modules/image2.jpg" (click)="showGalleryEmodules(1)">
      <img src="./assets/e-modules/image3.jpg" (click)="showGalleryEmodules(2)">
      <img src="./assets/e-modules/image4.jpg" (click)="showGalleryEmodules(3)">
      <img src="./assets/e-modules/image5.jpg" (click)="showGalleryEmodules(4)">
      <img src="./assets/e-modules/image6.jpg" (click)="showGalleryEmodules(5)">
      <img src="./assets/e-modules/image7.jpg" (click)="showGalleryEmodules(6)">
      <img src="./assets/e-modules/image8.jpg" (click)="showGalleryEmodules(7)">

    </div>
  </div>

  <div class="redesigns">
    <h3>Site Redesigns</h3>
    <p>Everyone loves before and after pics.  Blockbuster gave me mochups to model after and the others, I had license
      to do as I saw fit.  This is mainly a demonstration of my ability to go into large companies with vastly different coding
      ecosystems and be able to re-skin the sites in CSS(a styling markup used on the web).</p><hr />
    <div class="category">

      <div class="site-bundle">
        <img src="./assets/redesigns/image1.jpg" (click)="showGalleryRedesigns(0)">
        <p>Before</p>
      </div>
      <div class="site-bundle">
        <img src="./assets/redesigns/image2.jpg" (click)="showGalleryRedesigns(1)">
        <p>After</p>
      </div>
      <div class="site-bundle">
        <img src="./assets/redesigns/image3.jpg" (click)="showGalleryRedesigns(2)">
        <p>Before</p>
      </div>
      <div class="site-bundle">
        <img src="./assets/redesigns/image4.jpg" (click)="showGalleryRedesigns(3)">
        <p>After</p>
      </div>
      <div class="site-bundle">
        <img src="./assets/redesigns/image6.jpg" (click)="showGalleryRedesigns(4)">
        <p>Before</p>
      </div>
      <div class="site-bundle">
        <img src="./assets/redesigns/image5.jpg" (click)="showGalleryRedesigns(5)">
        <p>After</p>
      </div>

    </div>
  </div>

  <div class="column-2">
    <h3>Branding</h3>
    <p>Here's an assortment of businesses with their websites, business cards and other supporting media. Most of these were created in the
      earlier years of my career as a freelancer.  Web design has changed considerably in the past decade.</p>
    <hr />
    <div class="category">

      <img src="./assets/branding/image1.jpg" (click)="showGalleryBranding(0)">
      <img src="./assets/branding/image2.jpg" (click)="showGalleryBranding(1)">
      <img src="./assets/branding/image3.jpg" (click)="showGalleryBranding(2)">
      <img src="./assets/branding/image4.jpg" (click)="showGalleryBranding(3)">
      <img src="./assets/branding/image5.jpg" (click)="showGalleryBranding(4)">
      <img src="./assets/branding/image6.jpg" (click)="showGalleryBranding(5)">
      <img src="./assets/branding/image7.jpg" (click)="showGalleryBranding(6)">
      <img src="./assets/branding/image8.jpg" (click)="showGalleryBranding(7)">

    </div>
  </div>

  <div class="column-5">
    <h3>Corporations I have worked for as an employee or contractor</h3>
    <hr />
    <div class="category">
      <img src="./assets/affiliates/image1.png" (click)="showGalleryCorp(0)">
      <img src="./assets/affiliates/image2.png" (click)="showGalleryCorp(1)">
      <img src="./assets/affiliates/image3.jpeg" (click)="showGalleryCorp(2)">
      <img src="./assets/affiliates/image4.png" (click)="showGalleryCorp(3)">
      <img src="./assets/affiliates/image6.png" (click)="showGalleryCorp(4)">
      <img src="./assets/affiliates/image7.jpeg" (click)="showGalleryCorp(5)">
      <img src="./assets/affiliates/image8.png" (click)="showGalleryCorp(6)">
      <img src="./assets/affiliates/image9.png" (click)="showGalleryCorp(7)">
      <img src="./assets/affiliates/image10.png" (click)="showGalleryCorp(8)">
      <img src="./assets/affiliates/image11.png" (click)="showGalleryCorp(9)">
      <img src="./assets/affiliates/image12.png" (click)="showGalleryCorp(10)">

    </div>
  </div>

  <div>
    <h3>UI Development</h3>
    <p>Other Interfaces I have built from scratch or contributed to since 2013.  These apps were all created using all the various
      versions of Angular, a Javascript framework.  If you are interested in seeing my corporate resume with all of my experiences,
      check it out <a href="https://docs.google.com/document/d/1qXr_U8OwmQauuDw1GJEb-pCOqxbdRPJwSiWpxXG4K8A/edit?usp=sharing" target="_blank">
        <i>here</i></a>.</p>
    <hr />
    <div class="category">
      <img src="./assets/affiliates/other1.jpg" (click)="showGalleryUi(0)">
      <img src="./assets/affiliates/other2.jpg" (click)="showGalleryUi(0)">
      <img src="./assets/affiliates/other3.jpg" (click)="showGalleryUi(0)">
      <img src="./assets/affiliates/other4.jpg" (click)="showGalleryUi(0)">
      <img src="./assets/affiliates/other5.jpg" (click)="showGalleryUi(0)">
    </div>
  </div>

  <div>
    <h3>Flyers, Bookmarks, Tickets</h3>
    <hr />
    <div class="category">
      <img src="./assets/print-media/print1.jpg" (click)="showGalleryFlyer(0)">
      <img src="./assets/print-media/print2.jpg"  (click)="showGalleryFlyer(1)">
      <img src="./assets/print-media/print3.jpg"  (click)="showGalleryFlyer(2)">

      <img src="./assets/print-media/print37.jpg"  (click)="showGalleryFlyer(3)">
      <img src="./assets/print-media/print38.jpg"  (click)="showGalleryFlyer(4)">

      <img src="./assets/print-media/print39.jpg"  (click)="showGalleryFlyer(5)">
      <img src="./assets/print-media/print40.jpg"  (click)="showGalleryFlyer(6)">

    </div>
  </div>

  <div>
    <h3>Product Catalog</h3>
    <p>A catalog designed for print.</p>
    <hr />
    <div class="category">
      <img src="./assets/print-media/print4.jpg" (click)="showGalleryCatalog(0)">
      <img src="./assets/print-media/print5.jpg" (click)="showGalleryCatalog(1)">
      <img src="./assets/print-media/print6.jpg" (click)="showGalleryCatalog(2)">
      <img src="./assets/print-media/print7.jpg" (click)="showGalleryCatalog(3)">
      <img src="./assets/print-media/print8.jpg" (click)="showGalleryCatalog(4)">
      <img src="./assets/print-media/print9.jpg" (click)="showGalleryCatalog(5)">
      <img src="./assets/print-media/print10.jpg" (click)="showGalleryCatalog(6)">
      <img src="./assets/print-media/print11.jpg" (click)="showGalleryCatalog(7)">
    </div>
  </div>
  <div>
    <h3>Business Cards</h3>
    <hr />
    <div class="category">
      <img src="./assets/print-media/print25.jpg" (click)="showGallerybc(0)">
      <img src="./assets/print-media/print31.jpg" (click)="showGallerybc(1)">
      <img src="./assets/print-media/print32.jpg" (click)="showGallerybc(2)">
      <img src="./assets/print-media/print33.jpg" (click)="showGallerybc(3)">

    </div>
  </div>
  <div>
    <h3>Restaurant Menu</h3><hr />
    <div class="category">
      <img src="./assets/print-media/print34.jpg" (click)="showGalleryEtc(0)">
      <img src="./assets/print-media/print35.jpg" (click)="showGalleryEtc(1)">
      <img src="./assets/print-media/print36.jpg" (click)="showGalleryEtc(2)">
    </div>
  </div>

  <div class="column-5">
    <h3>Websites</h3>
    <p>Finally, here are some other various websites that I developed earlier in my career.</p>
    <hr />
    <div class="category">
      <img src="./assets/websites/web1.jpg" (click)="showGalleryWeb(0)">
      <img src="./assets/websites/web2.jpg" (click)="showGalleryWeb(2)">
      <img src="./assets/websites/web3.jpg" (click)="showGalleryWeb(3)">
      <img src="./assets/websites/web4.jpg" (click)="showGalleryWeb(4)">
      <img src="./assets/websites/web5.jpg" (click)="showGalleryWeb(5)">
      <img src="./assets/websites/web6.jpg" (click)="showGalleryWeb(6)">
      <img src="./assets/websites/web7.jpg" (click)="showGalleryWeb(7)">
      <img src="./assets/websites/web8.jpg" (click)="showGalleryWeb(8)">
      <img src="./assets/websites/web9.jpg" (click)="showGalleryWeb(9)">
      <img src="./assets/websites/web10.jpg" (click)="showGalleryWeb(10)">
      <img src="./assets/websites/web11.jpg" (click)="showGalleryWeb(11)">
      <img src="./assets/websites/web12.jpg" (click)="showGalleryWeb(12)">
      <img src="./assets/websites/web13.jpg" (click)="showGalleryWeb(13)">
      <img src="./assets/websites/web14.jpg" (click)="showGalleryWeb(14)">
      <img src="./assets/websites/web15.jpg" (click)="showGalleryWeb(15)">
    </div>
  </div>
</div>
