<div class="article welcome">
  <app-tabs class="tab-container">
    <app-tab tabTitle="Small Businesses">
      <h2>Small Businesses</h2><br />

      <h3>Hi there!</h3>
      <p>
        Thanks for visiting!  <br />
        You must have heard that I can help you with your <b>MULTI-MEDIA DEVELOPMENT</b> needs. <br />
        Well, you heard right. <fa-icon [icon]="grin"></fa-icon></p><br />

      <h3>Here's a little background on me.</h3>
      <p>I've been working in the technology industry since 2006.  From 2006 to 2013 I worked with small businesses and individuals,
        helping them conceptualize, build, learn, and grow in the technology sector of their businesses.
        After moving to Colorado in 2013, I focused on programming and helping large corporations. </p>
      <p>This year, I have decided to embark on an independent career again as a freelancer.</p>

      <h3>Here's a brief list of services that I can provide</h3>
      <ul>
        <li>Branding</li>
        <li>Website Development</li>
        <li>Content Management Systems (CMS)</li>
        <li>Ecommerce Solutions</li>
        <li>Mobile Apps</li>
        <li>CMS Tutorials</li>
        <li>Resposive Design</li>
        <li>Search Engine Optimization (SEO)</li>
        <li>Print Production</li>
        <li>Social Media Integration</li>
        <li>Video Editing</li>
        <li>Audio Editing</li>
        <li>Marketing Automation</li>
      </ul>

      <p>You may have noticed that I also provide tutorials.  Not only will I set up technology tools for you,
        but for those who are motivated and willing, I will teach how to use these tools, so that you can become
        technologically independent.</p>

      <app-steps-to-success></app-steps-to-success>
      <p>So what is you vision? Let's talk about how we can make it a reality.</p>

      <h3>Thanks again for visiting!  <br />
        See you soon,</h3>
      <br />
      <h2 class="signature">Luna Red</h2>

      <button class="primary" *ngIf="page === 'dashboard'" routerLink="/services">Next Steps</button>
    </app-tab>
    <app-tab tabTitle="Corporate Businesses">
      <h2>Corporate Businesses</h2>

      <br />

      <a href="https://www.linkedin.com/in/luna-red/" target="_blank">
        <img src="./assets/affiliates/LinkedIn-Logo.png" alt="linkedin" />
      </a>
      <br />
      <a href="https://docs.google.com/document/d/1qXr_U8OwmQauuDw1GJEb-pCOqxbdRPJwSiWpxXG4K8A/edit?usp=sharing"
         target="_blank">
        <fa-icon [icon]="clipboard"></fa-icon>
        Resume
      </a>
      <br />
      <a href="https://github.com/luna-red?tab=repositories" target="_blank">
        <img src="./assets/affiliates/GitHub-logo.png" alt="Github" />
      </a>

      <p>In 2013, I began working for large corporations exclusively as a front-end programmer and designer.
        The difference between front-end programming and small business freelancing is quite huge.  As a matter of fact,
        the only thing comparable is the communication skills necessary to do both types of jobs. The technology between
        the two is very different.  Still, having worked for these large companies like Comcast, Blockbuster, Dish Network,
        and smaller companies like Eberls,  Autopay, Envysion, Revelex, and Tag gave me a breadth of understanding across the
        technology landscape that I could never convey in a small paragraph.  </p>

      <p>Overall, I have been developing in the front end side of websites for 15 years now. I am very comfortable with modern day front
        end paradigms like CSS pre-processors, unit testing, task management systems, package management, version control systems,
        project management systems, automation etc. I have experience writing in vanilla javascript(though it is not my preference),
        including ECMA script 5 and 6, as well as in libraries like typescript. I can write up HTML pages quickly from designs or start
        from scratch building my own designs and styles as well as re-skinning existing corporate level sites.</p>

      <p>My development practices have evolved to become modular, succinct, clean, easy to follow, and extend, semantic, and I always
        try to think about the developers who will have to come behind me and support the code in the future.</p>

      <p>As far as architecture, I establish a clean, simple, best practices approach which facilitates in easy on-boarding of new
        developers, fast development, and ease of extending code.</p>

      <p>My claims to fame are being able to jump into application stacks in companies and be contributing within days, having a
        good understanding for all around technology, being able to troubleshoot and diagnose as well as solve issues that may arise
        from combined systems. I can come up with creative solutions to complex problems. Also, I have been known to take hundreds of
        lines of code and reduce them to several lines quite often, finding the cleanest and most succinct methodologies every time
        I look at code.</p>

      <p>An average day in a corporate environment has me working on several projects, assisting other developers with their work,
        architecting in all aspects of development on the front side, and assisting in managing repos, servers, automation, security,
        QA efforts, writing tests, best practices, documentation, etc.</p>

      <h3>I am available as a contractor to assist in whatever front-end projects your company needs.</h3>

      <h3>Thanks for visiting!</h3>
      <h2 class="signature">Luna Red</h2>

    </app-tab>
  </app-tabs>
</div>
