<div class="article">
  <h3>Theme Toggle</h3>
  <hr />
  <div class="theme-wrap">
    <div class="theme">
      <img src="./assets/red-theme.jpeg"
           alt="Red Theme"
           (click)="onChange('dark')"/>
      Dark
    </div>
    <div class="theme">
      <img src="./assets/blog-theme.jpeg"
           alt="Blog Theme"
           (click)="onChange('light')"/>
      Blog
    </div>
    <div class="theme">
      <img src="./assets/blue-theme.jpeg"
           alt="Blue Theme"
           (click)="onChange('corp')"/>
      Light
    </div>
  </div>
</div>
