<div class="article hero-wrap">
  <h3>Services</h3>
  <div class="hero-images">
    <div class="hero">
      <img src="./assets/pexels-kaboompics-com-5933.jpg" alt="Print Design" />
      <h4>Print Design</h4>
    </div>
    <div class="hero">
      <img src="./assets/pexels-max-deroin-249203.jpg" alt="Website Development" />
      <h4>Website Development</h4>
    </div>
    <div class="hero">
      <img src="./assets/pexels-pixabay-39284.jpg" alt="Social Media and SEO" />
      <h4>Social Media & SEO</h4>
    </div>
  </div>
</div>
