<div>
  <div>
    <h3>Steps to Success...</h3>
    <p><b>You must have a vision if you are here</b>, and I am here to listen about your products, services, customers, processes,
      competitors and goals.  With this understanding, I will guide you through each step of the development process.</p>
    <img src="./assets/steps-to-success.png" alt="Steps to Success" />
    <ul>
      <li><b>Branding</b> - Creating the look and feel that speaks to your customers</li>
      <li><b>Web Copy</b> - Developing the exact content that will get end-users engaged on your site</li>
      <li><b>Web Design</b> - Creating a custom design to communicate your business</li>
      <li><b>Web Development</b> - This is where I do the magic, creating responsive sites, that load quickly and render well across all devices,
        using the latest and best technologies</li>
      <li><b>SEO Management & Marketing</b> - Collaborating on strategies to drive customers to your site</li>

    </ul>

    <p>It doesn't matter where you are based, we can get on the phone or on a screen share with Zoom, or Facetime.  Call or email me.</p>
    <p><b>I look forward to meeting you!</b></p>
  </div>
</div>
